body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.green-color{
color: green;
}
.flexible-container{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
}
.jewel-1{
    width: 50%;
    padding-left: 5%;
}
.jewel-1 img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.jewel-11{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
}
.jewel-11 img{
    width: 70%;
}
.Myrecipies-2{
    width: 400px;
    height: 450px;
    top: 20px;
    box-shadow: 10px 10px 40px green;
    margin-left: 10px;
    margin-right: 3%;
    padding-left: 80px;
    border-radius: 10px;
    background-image: url(images/food/Project\ Cover4.png);
}
.Subscribers{
    background-image: linear-gradient(green, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    width: 500px;
}
.FOOD{
    color: white;
background-image: linear-gradient(black, black);
box-shadow: 10px 10px 40px green;
height: 200px;
text-align: center;
}
.recipies{
    text-align: center;
}
.Myrecipies-3{
    width: 400px;
    height: 450px;
    top: 20px;
    box-shadow: 10px 10px 40px green;
    margin-left: 10px;
    margin-right: 3%;
    padding-left: 80px;
    border-radius: 10px;
    background-image: url(images/food/Project\ Cover5.png);
}
.Myrecipies-4{
    width: 400px;
    height: 450px;
    top: 20px;
    box-shadow: 10px 10px 40px green;
    margin-left: 10px;
    margin-right: 3%;
    padding-left: 80px;
    border-radius: 10px;
    background-image: url(images/food/Project\ Cover1.jpg);
    image size: box-shadow: 10px;
}